@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>A simple proof of concept API to show that I kinda know what the heck I am doing</p>
    <p>The maps are added via json which can be accesable by adding "/api/beatmaps" to the domain</p>
    <p>I'm not really experinced with ASP.NET so this required a lot of googling. something a lot of us do :D</p>
</div>